@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #fff; 
}

::-webkit-scrollbar-thumb {
  background: #c3c6c9; 
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #b8b9ba; 
} 